<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css", rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>ОАО "Добро пожаловать"</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>